@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --primary-color: #2563eb;
  --secondary-color: #1e293b;
  --background-color: #f8fafc;
}

/* dark mode */
[data-theme="dark"] {
  --primary-color: #3b82f6;
  --secondary-color: #e2e8f0;
  --background-color: #0f172a;
}

/* Navbar */
.nbar {
  background-color: var(--background-color);
}

.nbar .link {
  color: var(--secondary-color);
  text-decoration: none;
}

/* Resume Bulder Page */

/* .resume-builder {
  display: flex;
  flex-direction: row;
} */

.resume-data-forms {
  background-color: var(--background-color);
  border: 1px solid green;
  height: calc(100vh - 58px);
  /* width: auto; */
}

.resume-preview {
  background-color: var(--background-color);
  border: 1px solid gray;
  height: calc(100vh - 58px);
  /* width: auto; */
}
